[user]
    email = l.nimar.b@gmail.com
    name = Nimar

[transfer]
    fsckObjects = true

[fetch]
    fsckObjects = true

[fetch]
    fsckObjects = true

[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	d = difftool
[init]
    defaultBranch = main

[includeIf "gitdir:~/sento-code/"]
    path = ~/.gitconfig-sento
[includeIf "gitdir:~/sento/"]
    path = ~/.gitconfig-sento

