[user]
    email = l.nimar.b@gmail.com
    name = Nimar

[transfer]
    fsckObjects = true

[fetch]
    fsckObjects = true

[fetch]
    fsckObjects = true

[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	d = difftool
[init]
    defaultBranch = main

[includeIf "gitdir:~/sento-code/"]
    path = ~/.gitconfig-sento
[includeIf "gitdir:~/sento/"]
    path = ~/.gitconfig-sento

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[merge]
    conflictstyle = zdiff3

