# ignore vim's undo and swap directory
vim/.vim/undodir/*
vim/.vim/swp/*

# ignore vscode cache
vscode/.config/Code/Cache*
vscode/.config/Code/logs*
vscode/.config/Code/Service*
vscode/.config/Code/Local Storage*
vscode/.config/Code/Session Storage*
vscode/.config/Code/GPUCache*
vscode/.config/Code/Code Cache*
vscode/.config/Code/User/globalStorage*
vscode/.config/Code/User/workspaceStorage*
vscode/.config/Code/User/History*

# ignore xonotic maps
xonotic/.xonotic/data/dlcache
